<!DOCTYPE html>
<html>
    {{template "header"}}
    <body>
        <div class="container">
            <div class="row-fluid">
                <div class="span4 offset4">
                    <div class="row-fluid">
                        <div class="span12">
                            <h1>Contacts</h1>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 contacts-wrapper">
                            {{range .Contacts}}
                            <div class="row-fluid contact-row" onclick="window.location='/contacts/{{.Id.Hex}}';">
                                <div class="span12 contact" >{{.FirstName}}&nbsp;{{.LastName}}</div>
                            </div>
                            {{end}}
                        </div>
                        <div class="span12">
                            <button class="btn" onclick="window.location='/new'">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
